<p>Olá,</p>
<p>Para começar, @Html.ActionLink("cadastre um amigo", "Create", "Friend") ou  @Html.ActionLink("cadastre um jogo", "Create", "Game").</p>
<p>Caso já tenha cadastrado algum, use o menu ao lado para ter acesso.</p>
